.icone {
    display: flex;
    align-items: center;
}

.icone img {
    width: 150px; /* ajuste conforme necessário */
    height: auto; /* para manter a proporção */
    margin-right: 20px; /* espaço entre o ícone e o texto */
}